<div class="mx-auto w-full fixed left-0 right-0 bottom-0 bg-white border-t-2">
    <footer class="block py-4">
        <div class="px-4">
            <div class="flex flex-wrap justify-end">
                <ul class="flex flex-wrap list-none md:justify-end  justify-center">
                    <li class="text-blueGray-600 hover:text-blueGray-800 text-sm font-semibold">
                        Reach us on Slack channel:
                        <a
                            class="text-blue-600"
                            href="https://sch-chat.slack.com/archives/C0EMGB3EC"
                            target="_blank"
                        >
                            #schibsted-account-support
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>
