<div class="md:fixed md:top-0 md:right-0 md:w-96 p-4 hidden" id="results">
    <h2 class="font-bold">
        Results
    </h2>

    <div id="results">
        <pre class="relative">
            <i class="fa-regular fa-copy cursor-pointer absolute top-14 right-2 bg-white z-10 p-1.5 rounded hover:bg-pink-200 active:bg-pink-500" id="copy-result"></i>
            <code class="language-json" id="result-data">
                {{json userInfo}}
            </code>
            <input type="hidden" id="result-data-input"/>
        </pre>
    </div>
</div>
