html {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgba(236, 239, 242, 0.673);
    color: rgb(57, 57, 57);
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1em;
}

html {
    background-image: url('https://picsum.photos/300/?random&blur');
    background-size: cover;
}

hr {
    border: none;
    border-top: 1px solid #8a8cff52;
}

button {
    background-color: rgb(0, 58, 146);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    padding: 0.3em;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}

a, a:active, a:visited, a:hover {
    color: rgb(75, 141, 226);
}

button:hover, button:active {
    background-color: rgb(0, 35, 87);
}

.footer {
    font-size: x-small;
    font-style: italic;
    color: grey;
}

.simplified-login {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  animation-name: fadeIn;
  animation-duration: 0.4s
}
  
.simplified-login-content {
  display: none;
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  animation-name: slideIn;
  animation-duration: 0.4s
}

.close-simplified-login {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-simplified-login:hover,
.close-simplified-login:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.simplified-login-header {
  padding: 2px 10px;
  background-color: rgb(150, 158, 170);
  color: white;
}

.spinner {
  width: 50px;
  height: 50px;
  margin: 400px auto;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

#simplified-login-widget {
 display: none;
}
