<div class="card">
    {{#if index}}
    <img class="card-img-top img-fluid" src="https://unsplash.it/800/600/?image={{index}}" />
    {{else}}
    <img class="card-img-top img-fluid" src="https://unsplash.it/800/600/?random" />
    {{/if}}
    <div class="card-block">
        <h4 class="card-title">{{ title }}</h4>
        <p class="card-text">Some random photos and descriptions</p>
    </div>
</div>
