<nav class="navbar navbar-light bg-faded">
    <div class="d-flex justify-content-between">
        <a class="navbar-brand p-1" href="/">
            <img src="/public/logo-common-components.svg" width="30" height="30" class="d-inline-block align-top mr-1" alt="Logo">
            <span class="hidden-sm-down">SDK Example</span>
        </a>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{#if loggedIn}}User Name{{else}}Login{{/if}}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                {{#if loggedIn}}
                    <button class="dropdown-item" id="logout-btn">Log out</button>
                {{else}}
                    <form class="dropdown-item form-inline dropdown-item">
                        <div class="form-inline form-check">
                            <label class="form-check-label dropdown-item">
                                <input class="form-check-input" type="checkbox" id="usePopup"> Popup
                            </label>
                        </div>
                    </form>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" id="login-user-pass">With User&amp;Pass</button>
                    <button class="dropdown-item" id="login-email">With Email</button>
                    <button class="dropdown-item" id="login-sms">With SMS</button>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://github.com/schibsted/sdk-example/issues/new">Support</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://github.com/schibsted/sdk-example" target="_blank">Code v{{pkgJson.version}}</a>
                {{/if}}
            </div>
        </div>
    </div>
</nav>
