<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Error</title>
    </head>
    <body>
        <p>Shoot! Error {{status}} happened!</p>
        <code>{{error}}</code>
        <hr/>
        <a href="/">Home</a>
        <button onclick="history.back()">Back</button>
    </body>
</html>
