<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Token page</title>
    </head>
    <body>
        <p>We're not really supposed to show the token</p>
        <code>{{data}}</code>
    </body>
</html>
