<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Error</title>
    </head>
    <body>
        <p>Shoot! Error {{status}} happenned!</p>
        <code>{{err}}</code>
    </body>
</html>
