<!DOCTYPE html>
<html lang="en">
    {{> head}}

    <body>
        
        {{> nav}}
        
        <section class="container-fluid">
            
            {{#if loggedIn}}
            <div class="alert alert-success mt-4" role="alert">
                <strong>Well done!</strong> You've logged in to clientId <strong>{{config.clientId}}</strong>.
            </div>
            {{/if}}
            
            <div class="row">
                <div class="col my-3">{{> card}}</div>
            </div>
            
            <div class="row">
                <div class="col col-md-4 my-3">{{> card index='11'}}</div>
                <div class="col col-md-4 my-3">{{> card index='23'}}</div>
                <div class="col col-md-4 my-3">{{> card index='13'}}</div>
                <div class="col col-md-4 my-3">{{> card index='45'}}</div>
                <div class="col col-md-4 my-3">{{> card index='15'}}</div>
                <div class="col col-md-4 my-3">{{> card index='84'}}</div>
                <div class="col col-md-4 my-3">{{> card index='79'}}</div>
                <div class="col col-md-4 my-3">{{> card index='8'}}</div>
                <div class="col col-md-4 my-3">{{> card index='99'}}</div>
                <div class="col col-md-4 my-3">{{> card index='10'}}</div>
            </div>
            
        </section>


        
        <script src="{{config.sdkJsPath}}" charset="utf-8"></script>
        <script src="/public/index.js"></script>
        </script>
    </body>
</html>
